* {
  margin: 0;
  padding: 0;
}

body {
  color: #212120;
  background-color: #F7FAF2;
  font-family: "League Spartan", sans-serif;
}

a {
  color: inherit;
}

header {
  margin: 1vh 0;
}

header a {
  text-decoration: none;
}

.app-title {
  text-align: center;
}

h2, h3, h4 {
  margin-bottom: 1vh;
}

.btn-select-mode {
  background-color: #EB771F;
  color: #F7FAF2;
  padding: 3vh 4vw;
  margin: 2vh 0;
  border-radius: 2vh;
  align-self: center;
  font-size: 1.7em;
}

.container-select-mode {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  justify-content: center;
}

section {
  position: relative;
  height: 90vh;
}

.container-tree-content {
  text-align: right;
  position: relative;
  margin-top: -20vh;
  padding: 10vh 10vw 6vh;
  color: #212120;
  z-index: 10;
  background: #F7FAF2;
  background: linear-gradient(180deg, rgba(247, 250, 242, 0) 0%, #f7faf2 40%, #f7faf2 100%);
}

.container-tree-content h1 {
  text-align: center;
}

.container-tree-content h2 {
  text-align: left;
}

.container-control-btn {
  display: flex;
  justify-content: space-evenly;
  background-color: #F7FAF2;
}

.container-control-btn img {
  width: 10vw;
  height: 10vw;
}

.thumb {
  top: 0;
  width: 90vw;
  margin: 0 5vw;
  z-index: -1;
  border-radius: 2vh;
}

button {
  background-color: #F7FAF2;
  color: #212120;
  border: #212120 solid 5px;
  border-radius: 2vh;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  font-family: "League Spartan", sans-serif;
}

.btn-describe {
  color: #ADE03A;
  border-color: #ADE03A;
}

.btn-describe svg {
  fill: #ADE03A;
}

.btn-others {
  color: #EB771F;
  border-color: #EB771F;
}

.btn-others svg {
  fill: #EB771F;
}

.description {
  padding: 10vh 10vw 0vh;
}

.container-add-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.add-photo-placeholder {
  border: rgba(33, 33, 32, 0.6) dashed 10px;
  border-radius: 5vh;
  width: 35vw;
  height: 35vh;
  color: rgba(33, 33, 32, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  margin-bottom: 5vh;
}

form {
  display: flex;
  flex-direction: column;
}

.wrapper-info {
  padding: 3vh 5vw;
  margin: 0 10vw 10vh;
  border: #212120 solid 1px;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text {
  text-align: center;
}
